service: wishy

provider:
  name: aws
  runtime: provided.al2023
  region: ${env:AWS_REGION, 'eu-west-1'}
  stage: ${env:STAGE, 'dev'}
  apiGateway:
    binaryMediaTypes:
      - "application/pdf" # Allow API Gateway to return PDFs as binary
   

functions:
  lambda:
    handler: bootstrap
    # ----------------------------
    # Lambda cost protection
    # ----------------------------
    timeout: 5        # hard stop for slow / abused requests
    memorySize: 512   # keep costs predictable
    events:
      #- http:
      #   path: /categories
      #    method: ANY
      - http:
          path: /wishes
          method: GET
      - http:
          path: /wishes/pdf
          method: GET


